<div class="container">
    <h1>Play Dates Scheduled Today</h1>

    <div class="row">
        <table>
            <tr style="background-color: #b67162; color: white">
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
                <th>Zip</th>
                <th>Owner Profile</th>
                <th>Dog Profile</th>
                <th>Other Owner</th>
                <th>Other Dog</th>
            </tr>
            {{#each simpleData as |date|}}
            <tr style="background-color: #e2bcb7;">
                <td>{{date.date}}</td>
                <td>{{date.time}}</td>
                <td>{{date.location}}</td>
                <td>{{date.zip}}</td>
                <td><a class='btn button btn-primary border rounded-lg' href='/api/owners/{{date.participant1_id}}'>
                        Check Participant</a></td>
                <td><a class='btn button btn-primary border rounded-lg' href='/api/dogs/{{date.dog1_id}}'>
                        Check Dog</a></td>
                <td><a class='btn button btn-primary border rounded-lg' href='/api/owners/{{date.participant2_id}}'>
                        Check Participant</a></td>
                <td><a class='btn button btn-primary border rounded-lg' href='/api/dogs/{{date.dog2_id}}'>
                        Check Dog</a></td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>