<div class="container" style="margin-left: 20%;">
    <h3>In Owner profile</h3>
    <div style="width: 10%; "><img class="border rounded-lg" style="border-radius: 20px 10px 3px 5px;"
            src={{simpleOwnerData.image}} alt={{simpleOwnerData.name}}></div>
    <div class="row p-5 m-5 border font-text-bold rounded-lg"
        style="width: 50%; background-color: #e2bcb7; border-radius: 10px 60px 5px 30px;">
        <div class="row">
            <div class="col-md-3">
                Name
            </div>
            <div class="col-md-3">
                {{simpleOwnerData.name}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                City
            </div>
            <div class="col-md-3">
                {{simpleOwnerData.city}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                State
            </div>
            <div class="col-md-3">
                {{simpleOwnerData.state}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                State
            </div>
            <div class="col-md-3">
                {{simpleOwnerData.zip}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Age
            </div>
            <div class="col-md-3">
                {{simpleOwnerData.age}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Sex
            </div>
            <div class="col-md-3">
                {{simpleOwnerData.gender}}
            </div>
        </div>
    </div>
</div>