<h1>In dog profile</h1>
    <div class="border rounded-lg" style="width: 10%"><img src='{{simpleOwnerData.image}} alt='{{simpleOwnerData.name}} image'></a></div>
<div class="container bg-secondary m-5 border text-white rounded-lg" style="width: 50%">
<div class="row">
    <div class="col-md-3">
        Name
    </div>
    <div class="col-md-3">
        {{simpleOwnerData.name}}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        City
    </div>
    <div class="col-md-3">
        {{simpleOwnerData.city}}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        State
    </div>
    <div class="col-md-3">
        {{simpleOwnerData.state}}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        State
    </div>
    <div class="col-md-3">
        {{simpleOwnerData.zip}}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        Age
    </div>
    <div class="col-md-3">
        {{simpleOwnerData.age}}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        Sex
    </div>
    <div class="col-md-3">
        {{simpleOwnerData.gender}}
    </div>
</div>
</div>

